[2012-01-05 12:39] fritzek opened #2 "credit card holder name"
we need a separate field for the card holder name as it could defer from the users name (in strip the field is empty and marked as "not provided")
if stripe says it doesn't matter, close the issue

[2012-01-05 12:41] fritzek opened #3 "web site field needs default or desc"
I've typed into the web site field just the name of the web site ("www.cileos.com") which will be interpreted as a relative link in the profile and overview page
solution 1: default the URI prefix ("http://") or make a tooltip with example

[2012-01-05 12:43] fritzek opened #4 "profile link on landing page after login"
there is no chance to go back to the profile page on the landing page if user is logged in

[2012-01-05 12:44] fritzek opened #5 "cancel button of a subscription doesn't work"
the cancel button of a subscription on profile page doesn't work (500)

[2012-01-05 12:46] fritzek opened #6 "wrong github and twitter links"
on landing page the given links to github and twitter of a user are wrong (pointing back to travis)

[2012-01-05 12:48] fritzek opened #7 "sign out button on profile page"
sign out button on profile page has no function

[2012-01-05 12:52] fritzek opened #8 "can't do a second donation after login"
I've applied for a subscription and went back to landing page and pressed again the donate button for a one off donation; name field was filled, left all others blank, pressed confirm - button greyed out, nothing happened - just the cancel button worked

OT: #7 mentioned sign out not working - sign out on this page works

[2012-01-05 13:33] fritzek opened #9 "Fix prices and desciptions for subscriptions"
Subscription prices need to be displayed dynamically and the static descriptions need to be updated (put some thoughts into this, folks!)

[2012-01-05 13:38] fritzek opened #10 "entering user data twice ends in a 500"
was logged in, logged out and choose another packages to donate, entered data into all fields (same as before) and confirmed - result = 500

[2012-01-05 14:00] fritzek opened #11 "style flash"
the flash notification need some style love

[2012-01-05 14:02] fritzek opened #12 "Safari: pic carrousel is empty"
no pics (slides section) shown when browsing with Safari

[2012-01-05 14:04] fritzek opened #13 "Safari: can't switch between one off and subscription"
the switch to change from one off to subscription doesn't work on Safari

[2012-01-05 14:06] fritzek opened #14 "Safari: section thanks-guys is empty"
section thanks-guys is empty on Safari

[2012-01-05 14:07] fritzek opened #15 "Safari: section testimonials is empty"
section testimonials is empty on Safari

[2012-01-05 14:41] fritzek opened #16 "add a badge with number of donators to packages"
add a badge with number of donators to packages (as on http://www.kickstarter.com/projects/510303020/the-people-is-singular/backers#p1)

[2012-01-06 11:36] svenfuchs commented on #11
done

[2012-01-06 11:36] #11 closed, assigned to nobody

[2012-01-06 11:58] svenfuchs commented on #8
should be fixed. you shouldn't be able create a new subscription when you already have one. instead you'll be redirected to the homepage with a flash message

[2012-01-06 11:58] #8 closed, assigned to nobody

[2012-01-06 11:58] svenfuchs commented on #6
should be fixed

[2012-01-06 11:58] #6 closed, assigned to nobody

[2012-01-06 11:59] svenfuchs commented on #3
lol, you should know that www.foo.com is not a valid url

hrmmm, ok, i'll try to add it

[2012-01-06 12:00] svenfuchs commented on #4
done. all pages now have [profile][sign out] or [sign in] links in the header

[2012-01-06 12:00] #4 closed, assigned to nobody

[2012-01-06 12:05] fritzek commented on #3
I know its not a valid url but from my experiences a lot people just typing the name of their web site in. I'm sure if we don't change it, it will be a common problem.

[2012-01-06 12:06] fritzek commented on #8
How about I have a subscription and want to add a one off donation?

[2012-01-06 12:13] svenfuchs commented on #8
That should be possible

[2012-01-06 12:15] fritzek opened #17 "duplicate user info throws 500"
entering a mail adress for a new user which is already taken throws a 500

(don't ask why someone would use the mail address of someone else)

[2012-01-06 12:17] fritzek commented on #8
nope. log in, choose one off, you will see your name (on the next page, but without your other data like street etc.), add a comment (or leave it blank) and press "Confirm" -> color of button changes to grey, but nothing else happens (you only can press "Cancel")

[2012-01-06 12:29] svenfuchs commented on #7
should be fixed

[2012-01-06 12:29] #7 closed, assigned to nobody

[2012-01-06 12:56] svenfuchs commented on #3
should be done

[2012-01-06 12:56] #3 closed, assigned to nobody

[2012-01-06 13:05] fritzek commented on #3
thx. exactly what i meant ;)

[2012-01-06 13:18] fritzek commented on #17
duplicate to #10

[2012-01-06 13:18] #17 closed, assigned to nobody

[2012-01-06 14:43] svenfuchs commented on #2
done. let's hope this works, the docs aren't super clear on this

[2012-01-06 15:39] svenfuchs commented on #8
there was another issue with the js form, should be fixed now

[2012-01-06 16:01] fritzek commented on #8
works now (only -minor- issue -> the previously entered address data are lost - but guess we really talk about an edge case)

[2012-01-06 16:04] fritzek commented on #2
tried it with a new user and get a 500

[2012-01-06 16:05] svenfuchs commented on #8
wut? addresses are per order.

do you mean we could prefill the address with the address from the previous/last order when the user is signed in? or something else?

[2012-01-06 16:07] svenfuchs commented on #2
you said it didn't submit the form, which issue should be resolved.

is that https://github.com/travis-ci/travis-crowd/issues/17 ?

On Jan 6, 2012, at 5:04 PM, Fritz Thielemann wrote:

[2012-01-06 16:08] fritzek commented on #8
yes, if we still have it

[2012-01-06 16:10] fritzek commented on #2
with this issue you've addressed the separate card holder name field and i've tried to make a subscription for a new user (I was not signed in)

[2012-01-06 16:15] svenfuchs commented on #2
when you submit the form with credit card fields (i.e not signed in) then it will first submit the credit card info to Stripe directly. it then get's a credit card token back that is inserted to a hidden field in our form. this form is then sent to our app.

i.e if you get a 500 that's an error on our app. i.e. the credit card field processing has succeeded. i.e. i guess the remaining issue here i

[2012-01-06 16:15] svenfuchs opened #18 "prefill the address when the user is signed in"
we can use the address from the previous/last order to prefill the address  when the user is signed in

[2012-01-06 16:16] svenfuchs commented on #8
ok, i opened #18 for that

[2012-01-06 16:20] svenfuchs opened #19 "Make sure validation errors are visible"
validation errors are currently not visible/displayed when the form is re-rendered

[2012-01-06 16:20] svenfuchs commented on #10
should be fixed. remaining issue here is #19

[2012-01-06 16:20] #10 closed, assigned to nobody

[2012-01-06 16:23] fritzek commented on #2
tried again with different card and it worked (before I used the same card as before for another user) so you could be right that this duplicate to #17 (if card info is part of our models)

[2012-01-06 16:34] fritzek commented on #2
hm, said before that with a new card it worked. this was just half of the truth - our side behaved as the payment was successful processed, but I can't see the payment in stripe and the landing page doesn't show it neither.

[2012-01-06 19:19] svenfuchs commented on #19
done

[2012-01-06 19:19] #19 closed, assigned to nobody

[2012-01-06 20:23] svenfuchs commented on #2
it's kinda hard to guess what exactly you've done. there are various things that could go wrong. could you plz test again and open a new ticket with the behaviour/error?

[2012-01-06 20:23] #2 closed, assigned to nobody

[2012-01-06 20:51] svenfuchs commented on #15
done

Function.protoype.bind was missing on Safari

[2012-01-06 20:51] #15 closed, assigned to nobody

[2012-01-06 20:51] svenfuchs commented on #14
done

Function.protoype.bind was missing on Safari

[2012-01-06 20:51] #14 closed, assigned to nobody

[2012-01-06 20:51] svenfuchs commented on #13
done

Function.protoype.bind was missing on Safari

[2012-01-06 20:51] #13 closed, assigned to nobody

[2012-01-06 20:51] svenfuchs commented on #12
done

Function.protoype.bind was missing on Safari

[2012-01-06 20:51] #12 closed, assigned to nobody

[2012-01-06 20:52] svenfuchs opened #20 "Add the bank account to the FAQ"

[2012-01-06 20:54] svenfuchs commented on #5
We might actually add a note asking users to send us an email. We'd then cancel subscriptions manually through the Stripe management interface.

[2012-01-06 20:55] svenfuchs opened #21 "Actually display an invoice"
Either directly on the order details show view or on a separate view.

What's legally required for that?

[2012-01-06 20:57] svenfuchs commented on #9
@fritzek i've edited the issue title and description directly

[2012-01-06 20:59] svenfuchs opened #22 "Crossbrowser compatibility"
By this I mean Safari, Firefox.

Chrome should be working as I'm using it regularly.

Especially: make sure the soundplayer stuff works with/without Flash, or at least doesn't throw any exceptions that screw the rest of the page.

Also: make sure the custom fonts don't look completely stupid etc :)

[2012-01-06 21:20] svenfuchs commented on #9
Ok, prices are now updated dynamically for subscriptions and packages.

Still need to update the subscription texts OR maybe just add a footnote about how this will be handled.

Thoughts?

[2012-01-07 11:30] svenfuchs commented on #5
Strike that. People should be able to "downgrade" their subscription by cancelling it and ordering a new one.

For that more stuff needs to be changed though because right now one only can have one subscription. So subscriptions must be cancelled by "deactivating" them.

[2012-01-07 13:42] svenfuchs opened #23 "Add the ability to edit the profile"

[2012-01-07 13:56] fritzek commented on #20
Bank account info

BIC: WELADED1PMB
IBAN: DE37160500001000937166

German:
Mittelbrandenburgische Sparkasse Potsdam
BLZ: 16050000
KTO: 1000937166

[2012-01-07 14:29] svenfuchs commented on #20
thanks :)

[2012-01-07 14:36] fritzek commented on #21
First hint I've found we have to show as a (foot)note on the invoice is as follows:

[code]

More follows.

[2012-01-07 16:01] fritzek commented on #21
Ok, had a longer talk with my brother about this topic. He suggests to call the document "Receipt" as it is more of a confirmation about a payment than an invoice (implies business, trade or service). The purpose for the payment is a contribution to the travis-ci.org project to support ongoing development and operations. We should mention this on the receipt. This makes clear that the person gives

[2012-01-07 16:05] fritzek commented on #21
My brother will do some further investigation to ensure his remarks are correct. I will contact our tax advisor and ask him too.

[2012-01-07 16:05] svenfuchs commented on #21
cool. i guess we can display all of these things on the order/show page for now.

what do you mean by "we need a validation"?

[2012-01-07 16:05] svenfuchs commented on #21
btw it is unclear if stripe also sends an "invoice"

[2012-01-07 16:07] fritzek commented on #21
with validation i mean checking the presence of the address data

[2012-01-07 16:11] svenfuchs commented on #21
hmmm, i'd like to keep that form as simple to fill out as possible. is it absolutely required legally that we know an address? you can pay for actual services on the web without filling in any addresses. Stripe will already validate the credit card account for us, so we have one of the best identity "validations" available (although we currently do not save the credit card holder's name).

[2012-01-07 16:20] fritzek commented on #21
validating a credit card is no identity check - it proofs that the card works ;)

no idea about the legal requirement of full address existence - i just know from my experience and what my brother said its better to have it.
At least for the company packages I would validate the address as we're talking about money not peanuts ;)

[2012-01-07 16:21] fritzek commented on #21
I suggest to validate the address for amounts > 100 USD (the 100 is the "border" in Germany to make invoice handling easier), subscriptions and comp packs

[2012-01-07 16:22] svenfuchs commented on #21
It proofs that you have a valid card which is very attached to an identity. Also most banks check the card holder name if present.

[2012-01-07 16:25] svenfuchs commented on #21
i'd not be very happy to add any more presence_of checks on the form unless we absolutely _know_ it's required legally.

requirements like these are raising barriers for people who want to donate. making people enter tons of data is known to make people click away quite often.

[2012-01-07 16:28] svenfuchs commented on #20
added: http://travis-crowd-staging.herokuapp.com/#faq

[2012-01-07 16:28] #20 closed, assigned to nobody

[2012-01-07 16:29] svenfuchs commented on #5
Should work now.

When a user cancels their subscription the plan gets reset on Stripe and one can order a new subscription

[2012-01-07 16:29] #5 closed, assigned to nobody

[2012-01-07 16:30] svenfuchs commented on #5
btw @fritzek i've had to reset the database and clear out all data on stripe

[2012-01-07 16:33] fritzek commented on #21
ok, will ask someone + wait for my bro's further investigation (left a note about  it with him)

[2012-01-07 16:36] svenfuchs commented on #21
awesome, thank you @fritzek <3

[2012-01-07 16:36] fritzek commented on #5
ok, will give it a new try

[2012-01-07 16:37] fritzek commented on #23
+1

[2012-01-07 16:41] fritzek commented on #9
I suggest to have a footnote about the handling as follows:

[code]

[2012-01-07 16:48] svenfuchs commented on #21
@fritzek btw here's what the stripe account activation page looks like:

https://skitch.com/svenfuchs/gs5q6/stripe-manage
https://skitch.com/svenfuchs/gs5q9/stripe-manage-2

... so you can show that to any tax/lawyer folks

[2012-01-07 16:49] svenfuchs commented on #21
The note "This will appear on your customer's statements" actually suggests that Stripe will send out invoices/statements

[2012-01-07 16:51] svenfuchs commented on #21
So, all in all it seems to me that _if_ Stripe sends out invoices for us then they probably must have Jeff's name on them.

If so the only thing we need to do is explain this on the order/new form loud and clear so people don't get confused. Afterwards we can internally bill Jeff and that's it?

[2012-01-07 18:10] svenfuchs opened #24 "use sprites for images where possible"

[2012-01-07 18:12] svenfuchs commented on #23
done in 83429d0b28aec778e5a90ac06e4dc73e6ee15592 i think this is good enough for now (doesn't catch/display validation errors, but doesn't save an invalid model either)

[2012-01-07 18:12] #23 closed, assigned to nobody

[2012-01-07 19:28] svenfuchs commented on #24
compass is driving me crazy. i'll probably have to find someone who can do this for us.

[2012-01-07 22:58] svenfuchs opened #25 "Moar testimonials (and make them scrolling)"

[2012-01-07 22:58] svenfuchs opened #26 "Fix the build artifacts icon"

[2012-01-07 22:59] svenfuchs opened #27 "Company sponsorship contract"

[2012-01-07 23:04] svenfuchs opened #28 "Activate the Stripe account (needs Jeff's help)"

[2012-01-07 23:06] svenfuchs opened #29 "Better guard_duplicate_subscription message"
Maybe build a separate view for this

[2012-01-07 23:07] svenfuchs opened #30 "Much better order creation confirmation message"
Build an own view for this and show some nyancat stuff or similar

[2012-01-07 23:58] svenfuchs opened #31 "Have a public and a private comment for orders"
So people can send us a message, but also can put some public words on the list

[2012-01-08 17:35] svenfuchs commented on #29
done

[2012-01-08 17:35] #29 closed, assigned to nobody

[2012-01-08 23:24] svenfuchs commented on #30
done

[2012-01-08 23:24] #30 closed, assigned to nobody

[2012-01-08 23:30] svenfuchs opened #32 "Have an email confirmation for the order"
This should include all instructions/information for the ordered package/subscription.

Maybe we can attach the invoice as a PDF

A copy of this should be sent to contact@travis-ci.org (or some other travis-ci.org address) as a bcc

[2012-01-09 00:17] svenfuchs commented on #21
Address fields are now required for companies

[2012-01-09 00:17] svenfuchs commented on #31
done, we now just need to send these to us, too :)

[2012-01-09 00:17] #31 closed, assigned to nobody

[2012-01-09 00:26] svenfuchs commented on #26
done

[2012-01-09 00:26] #26 closed, assigned to nobody

[2012-01-09 00:29] svenfuchs commented on #21
@joshk @fritzek It just occured to me that the invoicing issue is even _way more_ complicated IF 1. stripe does not send out invoices AND 2. we are legally required to send invoices for payments.

Because: in that case we need to send out an invoice once per month as long as the subscription exists.

Can we _please_ find a simpler solution to this.

[2012-01-09 13:51] svenfuchs opened #33 "Update test and repository numbers through pusher"
... and maybe the total sum of donations, numbers of people and companies, people/companies per package

[2012-01-09 15:56] svenfuchs commented on #25
Added more testimonials (30 in total now) and made them scrollable. Right now scrolling is very non-obvious though. Added a "lionbars" jquery plugin which is supposed to add lion-style scrollbars, but it doesn't seem to work http://www.nikolaydyankov.com/lionbars so far

[2012-01-10 02:27] svenfuchs commented on #16
done

[2012-01-10 02:27] #16 closed, assigned to nobody

[2012-01-10 12:25] fritzek commented on #21
@svenfuchs no, its not necessary to send out a monthly invoice for subscriptions. You have to clearly mark on the invoice that it is a subscription and that the payment is on a monthly base. The payment receipt (and that is what I understood will be send out by Stripe) is the accounting document for the payee every month. Imagine an invoice for leasing a car - you only get one invoice and every mo

[2012-01-10 12:39] fritzek opened #34 "scrollbar visibly on package badges on lower resolution"
on a 15" screen with a resolution of 1440x900 the package badges show a scrollbar:

![Screenshot](http://img341.imageshack.us/img341/7067/screenshot20120110at133.png)

[2012-01-10 12:40] rkh commented on #34
What browser are you using? Are you on latest master? This should have been fixed by e91be1dcae763a4d84d8204977883cc9af2fed10.

[2012-01-10 12:42] fritzek commented on #34
I test on staging. If latest master is deployed on staging ...
I test with chrome, ff and safari

[2012-01-10 14:52] svenfuchs commented on #34
should be fixed on staging

[2012-01-10 14:52] #34 closed, assigned to nobody

[2012-01-11 23:34] svenfuchs opened #35 "Add access to ringtones and sounds downloads"

[2012-01-12 10:59] svenfuchs commented on #21
Ok, that sounds better.

The order confirmation email now looks like this: https://skitch.com/svenfuchs/g2d56/travis-crowd-order-confirmation-email

Will add all the legal notes next.

[2012-01-12 11:12] fritzek commented on #21
looks perfect for the one off

[2012-01-12 13:15] svenfuchs commented on #21
Legal notes and note about Jeff being our clearing agent added: https://skitch.com/svenfuchs/g2rwu/subscription-confirmation-email

I think I can now close this issue?

[2012-01-12 13:15] #21 closed, assigned to nobody

[2012-01-12 13:18] svenfuchs commented on #32
Got one now. We do not attach a PDF. The invoice part is just added to the order confirmation email

[2012-01-12 13:18] #32 closed, assigned to nobody

[2012-01-12 13:24] svenfuchs commented on #9
After lots of discussion with various people we decided to simply remove the "big" and "huge" packages (and rename the remaining packages to small, medium, big)

[2012-01-12 13:24] #9 closed, assigned to nobody

[2012-01-14 13:03] svenfuchs opened #37 "Wording: "one off""
Fernando finds it confusing, what's a better word?

I think "subscription" is good. What's a short and good word for "one time payment"

[2012-01-14 13:07] svenfuchs opened #38 "More or less payment options?"
Fernando says: "Too many options (between suscription and unique are 8 options". Tim on the other hand proposes to have more fine-grained and smaller payment options ("$1 -- $3 -- $7 -- $15 -- $25 -- $40")

[2012-01-14 13:08] svenfuchs opened #39 "Reverse order of payment options?"
Fernando: "I have read somewhere that is good idea to start a list of prices from the most expensive, everything else looks cheap in comparation"

[2012-01-14 13:08] svenfuchs opened #40 "Less required fields on the form"
Fernando: "I can make an 'unique' donation but I have to fill a very big form. Password? Address? what for?"

and: "Why I have to fill all this data for an unique donation? or even for a suscription: address?"

I think he is right.

[2012-01-14 13:10] svenfuchs opened #41 "Fix css for required fields, add footnote"
Fernando: "There is a orange start in the "Name" and in the other "Name" fields, I can image that they are required (nowhere is this explained), besides all the fields look required because I see alert messages"

I think the CSS is broken there. Should also add the text "required field" somewhere

[2012-01-14 13:10] svenfuchs opened #42 "Validator for "email""
Fernando: The email format validator is not very accurate: no complains about this "a@a"

I'm not sure we need this?

[2012-01-14 13:11] svenfuchs opened #43 "Fix validation error messages"
Fernando: "The field error messages apear one by one."

[2012-01-14 13:12] svenfuchs opened #44 "Improve form field placeholders"
Fernando: "Twitter" field has a placeholder with an "@" should I insert the "@" in the info I write on it?.. same with "Homepage" and "http://"

... well, these are just the Chrome behavior for html5 inputs. Could spice that up with some JS of course

[2012-01-14 13:13] svenfuchs opened #45 "Explain credit card process"
Fernando: "Credit card.. here in Europe we are not very used to send our credit card data to a custom website."

We should add a comment saying that we do not send the CC information to our website.

[2012-01-14 13:13] svenfuchs opened #46 "Enable https"

[2012-01-14 13:13] svenfuchs opened #47 "Improve the cancel link"
Fernando: "Cancel"? I woud say "Cancel and go back to the info page", or something explaining what is gonna happen when I click.

[2012-01-14 13:14] svenfuchs opened #48 "Complete tool tips?"
Fernando: "Some fields has a helper message when you pass over them, someothers no, don't understand the logic."

... I've only added them to where I felt it's required. Not sure what to do?

[2012-01-14 13:15] svenfuchs opened #49 "Make the page more gender neutral"
Jon: "My only feedback is that I have a niggling concern that with such extensive use of terms such as 'bro' and 'old chap' it might come across as not very gender-neutral."

[2012-01-14 13:17] svenfuchs opened #50 "Explain packages better"
John: "Maybe you could also explain for the packages what pro accounts are really all about and why you should be wanting them and donate extra large. When listing packages the benefits of larger packages esp. pro accounts could be already introduced / explained - or the explanation achored"

[2012-01-14 13:19] svenfuchs opened #51 "Make more clear where the money goes"
Evan: "I'd suggest moving a section about what the money goes to toward the top of the page ... what they're getting for their money"

John: "communicate better for what you are actually collecting donations for, explain donation / project goals clearly in the beginning: Run Travis for free for open source projects and support the team and infrastructure."

John: "it could be more clear on the don

[2012-01-14 13:20] svenfuchs opened #52 "Make more clear that there's a company behind it"
Paolo: "the "who are you" section should probably be easier to reach (company == commitment)"

[2012-01-14 13:20] svenfuchs opened #53 "Showcase ourselves over rails-core?"
Durran: "showcase yourselves over John, Aaron, Yehuda"

Not sure :)

[2012-01-14 13:22] svenfuchs opened #54 "Have recommendations from rails-core/other well-known members?"
John: "while the 4 heads are fun - maybe move some meaningful oneliners of known community members more to the top or closely to the donation / project goal"

[2012-01-14 13:23] svenfuchs opened #55 "Add flattr"
John and Sebastian: "add flattr"

[2012-01-14 13:24] svenfuchs opened #56 "Sounds broken in webkit on 2nd click?"
Fabio: "When I klick on the nerd faces (Jon, José, Aaron or Yehuda) a second time there is no sound anymore. It works on Firefox"

[2012-01-14 13:25] svenfuchs commented on #56
works for me in both Chrome and Safari :/

[2012-01-14 13:25] svenfuchs opened #57 "English language-style thousand separators"
Peter: Use English language-style thousand separators for the numbers

[2012-01-14 13:26] svenfuchs opened #58 "Improve top section styles"
Change style in the top section? From "Please Donate" down, the visual style is very pleasing. For some reason the top section of the page looks garish in comparison. It might be that black bar.

[2012-01-14 13:26] svenfuchs opened #59 "Find initial donors"
Peter: "Try to get the number of donors up a bit before pushing it live. Having just 1 donor doesn't look good. There's an annoying psychology effect at play here. If people see others have donated, they are more likely to. It's an annoying chicken and egg situation."

[2012-01-14 13:27] svenfuchs opened #60 "Explain vat and tax deduction"
Paolo: "questions about tax deduction of the donation, and VAT related amenities"

[2012-01-14 13:27] svenfuchs opened #61 "Include more languages"
Paolo: "too focused on ruby and ruby on rails"

[2012-01-14 13:28] svenfuchs opened #62 "Fix page for android web browser"
Paolo: "crashes android web browser"

[2012-01-14 13:29] svenfuchs opened #63 "Show subscriptions by default"
Alex: "assuming you prefer people to get a subscription over a one time donation I would make these available without having to click that switch (which is not very intuitive)."

Not sure about this one ...

[2012-01-14 13:29] svenfuchs opened #64 "Make more clear subscriptions are per month"
Alex: "it is not clear how often i pay for the subscription"

Fabio: "Is it a monthly subscription? Maybe you describe it in detail on the http://travis-crowd-staging.herokuapp.com/subscriptions/medium "

[2012-01-14 13:29] svenfuchs opened #65 "Shorten the text above packages"
Alex: "I don't think a lot of people will read the text above the packages (at least I didn't) - maybe shorten it or get rid of it."

[2012-01-14 13:30] svenfuchs opened #66 "Make more clear what the rails core section is about"
Alex: "it's not clear what the 4 pictures of Yehuda etc. do - maybe add a headline above them?"

[2012-01-14 13:30] svenfuchs opened #67 "Unhide the company packages"
Alex: "I wouldn't hide the company packages, instead make the 'thank you companies' section a lot smaller. that can grow after clicking, or you put the big version at the bottom."

[2012-01-14 13:31] svenfuchs opened #68 "Paginate donors list and add a link to a full list"
Alex: "the 'thank you guys' section - how long is that going to get?"

[2012-01-14 13:32] svenfuchs commented on #49
At the very least change wording like "Thank you, guys"

[2012-01-14 13:32] svenfuchs opened #69 "Make the testimonials section shorter"
Alex: "you could make the 'what people say' section shorter by either using fewer people or by rotating those in a carousel."

[2012-01-14 13:33] svenfuchs opened #70 "Show the stickers more early"
Alex: "put the stickers next to the packages so you can see what you will get for donating."

[2012-01-14 13:35] svenfuchs opened #71 "Fix the "spread the word" widget"
There should be twitter, google+ and facebook, iirc. Currently only shows twitter?

[2012-01-14 13:38] rkh commented on #49
One idea would be to add ringtones/statements from female developers.

[2012-01-14 13:43] svenfuchs commented on #49
Yeah, that would be the best solution. My problem there is that it would take us a lot of time. The ringtones previously only really got done when I visited Uwe in person (means travelling to lower saxony) and sat down with him for 2 days :/

It should be way easier to get some testimonials and add these.

And maybe we could contact rails-girls, rails-bridge and orgs like those and ask for help wi

[2012-01-14 13:56] svenfuchs commented on #47
Changed it to "Return to home"

[2012-01-14 13:56] #47 closed, assigned to nobody

[2012-01-14 14:05] svenfuchs commented on #45
I've added a footnote on the form:

[code]

And an entry to the FAQ:

[code]

[2012-01-14 14:05] #45 closed, assigned to nobody

[2012-01-14 14:13] svenfuchs commented on #41
CSS fixed. Added a footnote "Required field"

[2012-01-14 14:13] #41 closed, assigned to nobody

[2012-01-14 14:18] svenfuchs commented on #40
How do we deal with this?
- We only need the address when people want us to send stickers (ie we could make it optional).
- We only need the user name/email/password data if people want to sign in later

They definitely want to sign in later in order to cancel a subscription. I.e. we could make it optional for one-off-payments

[2012-01-14 14:20] svenfuchs commented on #43
I think what Fernando means here is the Chrome behavior for html5 required inputs? I'm not sure how to fix this. We could obviously replace it with some custom JS stuff.

[2012-01-14 14:30] svenfuchs commented on #42
I think Fernando means the Chrome html5 behavior here and I don't think we are going to fix this?

[2012-01-14 14:32] svenfuchs commented on #37
Changed the text on the switch to "One payment" vs "Subscription" for now.

"One off" is still being used in the explanations on the homepage and on the form.

Any comments on those?

[2012-01-14 14:52] svenfuchs commented on #50
Added a footnote to "Travis pro":

[code]

[2012-01-14 14:52] #50 closed, assigned to nobody

[2012-01-14 15:02] svenfuchs commented on #51
I've changed the text above the user packages a bit and added "What you will get?" as well as "What we'll use the money for?" in bold.

The latter paragraph now says:

[code]

The footnote 2 already explains what Travis CI pro is.

I'm not sure what do do with Peter's suggestion though. Should we change the main headline ("We need your help!") to something else? Should we animate it?

[2012-01-14 15:07] svenfuchs commented on #52
I've added this to the footnote below the packages which now says:

[code]

Maybe not the most prominent place, but I couldn't think of a better one.

[2012-01-14 15:11] svenfuchs commented on #57
yep, done

https://skitch.com/svenfuchs/g22nc/english-language-style-thousand-separators

[2012-01-14 15:11] #57 closed, assigned to nobody

[2012-01-14 15:17] svenfuchs commented on #60
We explain this on the order form already (which was 500'ing when Paolo reviewed the site). I've now also added an entry to the FAQ

[2012-01-14 15:17] #60 closed, assigned to nobody

[2012-01-14 15:19] svenfuchs commented on #60
@fritzek can you please check the FAQ entry?

[2012-01-14 15:24] svenfuchs commented on #64
The order form already states this rather clearly (but was 500'ing when people reviewed the page). I've now changed the text above the packages to say:

[code]

[2012-01-14 15:24] #64 closed, assigned to nobody

[2012-01-14 15:25] svenfuchs commented on #65
Not sure what to do about this. Since Alex reviewed the page I've even added more text above the packages to take care of other people's feedbacks.

[2012-01-14 15:27] svenfuchs commented on #66
Hmm, trouble is, a headline wouldn't really fit well with the design right now.

What would this headline or explanation say?

[2012-01-14 15:28] svenfuchs commented on #52
meant to close this

[2012-01-14 15:28] #52 closed, assigned to nobody

[2012-01-14 15:38] svenfuchs commented on #70
Basically every one suggests to move different things more towards the top :) Unfortunately we can't have everything at the top.

We have a link that links to the stickers section. I believe this is good enough. Any other ideas?

[2012-01-14 15:39] svenfuchs commented on #68
Should do this early on, but we don't actually need it on the first day, i guess?

[2012-01-14 16:41] fritzek commented on #60
@svenfuchs yep, will do it. Started to talk with my bro (again), but will ask our advisor too.

[2012-01-14 17:40] svenfuchs commented on #68
Ok, I figured the list could certainly explode within the first couple of days and we'd want to be prepared.

Added a simple JS based pagination

[2012-01-14 17:40] #68 closed, assigned to nobody

[2012-01-14 17:46] svenfuchs commented on #71
they simply were commented out.

need to pay attention if they actually work once we've gone live.

[2012-01-14 17:46] #71 closed, assigned to nobody

[2012-01-14 18:57] svenfuchs commented on #69
I've abstracted the js pagination and reuse it on the testimonials. this also allows us to add a lot more people and thus allows us to make the page more gender balanced

[2012-01-14 18:57] #69 closed, assigned to nobody

[2012-01-14 19:00] svenfuchs commented on #49
I've made the testimonials list paginated and added a load of more testimonials (all dudes though). So we can now start to ask girls for testimonials and add a whole lot of them to the top.

[2012-01-14 19:31] svenfuchs commented on #61
Not really sure what to do about this. I think that impression might result from:
1. We're listing more Ruby centric projects at the very top
2. We have that Rails-core team theme with the ringtones
3. We have testimonials mostly from Ruby/Rails folks

Re 1: That's just the actual big picture. We don't have as many super-important Node or PHP projects, yet, do we?

I'd opt for just ignoring this c

[2012-01-14 19:33] svenfuchs commented on #53
-1 :)

[2012-01-14 19:39] svenfuchs commented on #58
Slightly reduced the contrast on the top section colors, no idea what else to change there

[2012-01-14 19:39] #58 closed, assigned to nobody

[2012-01-15 02:48] svenfuchs opened #72 "Slider borked"
See the stripe.com slider (Paul)

[2012-01-15 13:15] svenfuchs opened #73 "Layout broken on ipad"
Unfortunately I don't have one to test :/

[2012-01-15 20:17] rkh opened #74 "Subscription Package info broken in Firefox"
This does not happen for "one off" or company packages:

![firefox](https://img.skitch.com/20120115-ejj88bx4118k16rq6mxmf7178y.png)

[2012-01-17 11:02] rkh commented on #73
:+1:

[2012-01-17 11:03] rkh commented on #70
I think the page is fine the way it is organized.

[2012-01-17 11:03] rkh commented on #67
dunno

[2012-01-17 11:05] rkh commented on #63
I think subscriptions are something we should not confront people with before they are sold on the idea of donating.

[2012-01-17 11:05] rkh commented on #62
dunno

[2012-01-17 11:06] rkh commented on #61
Yeah, I think the Ruby community is also where donations will come from.

[2012-01-17 11:07] rkh commented on #59
I'm not sure this will be an issue. We might just let more well known and enthusiastic people know before announcing it big time.

[2012-01-17 11:08] rkh commented on #56
can't reproduce this either

[2012-01-17 11:18] rkh commented on #72
Does he mean the slider should be animated? That's the only difference I see when comparing it to the stripe slider.

[2012-01-17 11:21] rkh commented on #66
"Even the Rails Core team is exited about this?"

[2012-01-17 11:21] rkh commented on #55
we could add flattr, but I wouldn't offer any special gimmicks for it...

[2012-01-17 11:22] rkh commented on #54
That's what Brian's quote is for. Should we place more quotes there and make them cycle?

[2012-01-17 11:24] rkh commented on #46
:+1:

possibly make it SSL only

[2012-01-17 11:26] rkh commented on #40
Alternative to name/password would be to send an e-mail with a link to creating a regular account. However, if that mail doesn't get through, they're screwed.

[2012-01-17 11:33] rkh commented on #38
The main issue with Tim's suggestion is that the cost for sending out stickers and such would be more than the donation. Maybe drop the Small option, rename Tiny to Small, add a Tiny with a $1 donation that basically comes with no specials except that they'll appear in the donation list and can leave a comment there.

[2012-01-17 13:41] rkh commented on #35
Ringtones can be found under [/profile/ringtones](http://travis-crowd-staging.herokuapp.com/profile/ringtones). This page might need some more love and is not reachable unless you know the address.

Downloads itself work (only accessible when logged in) and come directly from Soundcloud/Amazon.

[2012-01-17 14:11] svenfuchs commented on #35
w00t :)

[2012-01-17 14:12] svenfuchs commented on #55
that could be the replacement for the $1 donation, too?

[2012-01-17 14:13] svenfuchs commented on #59
should also use this as a brief beta test phase

[2012-01-17 14:14] svenfuchs commented on #63
good point

[2012-01-17 14:15] svenfuchs commented on #67
neither. i do actually like that they're hidden because this is not something most users care about.

[2012-01-17 14:24] rkh commented on #46
Staging now forces SSL. We still have some resources loaded that are not SSL.

[2012-01-17 16:15] rkh commented on #46
All but about 50% of the @soundcloud player is SSL now.

[2012-01-17 16:40] rkh opened #75 "don't load head sounds on every page"

[2012-01-17 20:05] joshk commented on #37
Single Purchase ?

[2012-01-17 20:09] joshk commented on #38
1 buck payments would be eaten away by fees.

I am -1 on Tims payment suggestions

Maybe a 3 dollar payment with no stickers and just love, but then we have 6 plans which is too much imo.

[2012-01-17 20:28] joshk commented on #42
-1, minor issue

[2012-01-17 20:30] joshk commented on #40
i think we should always grab the email in case we need to send them something important, maybe tax or receipt related.

as for address, maybe just say 'we need your address for stickers, no address no swag'

[2012-01-17 20:31] joshk commented on #39
hmmmm, seems plausible, i like the layout now, wdyt?

[2012-01-17 21:13] joshk commented on #48
I agree that it might seem odd that some have tool tips and some don't, especially as it doesn't seem like twitter or github need one. But this is a minor issue so -1 on fixing

[2012-01-17 21:14] joshk commented on #46
+1 on SSL only

We need to buy a cert for the production url we decide to use.

[2012-01-17 21:14] joshk commented on #44
+1 on leaving @ and http:// in the respective fields

[2012-01-17 21:16] joshk commented on #43
Hmmm, I agree with Fernado, we really should find a way to show all the errors at once.

[2012-01-17 21:32] joshk commented on #73
hmm, +1 and -1

can Railslove help with this? cc/@bumi

[2012-01-17 21:40] joshk commented on #72
Only issue for the slider for me is that my cusor is not a hand but an arrow

[2012-01-17 21:41] joshk commented on #70
-1 on moving stickers higher

[2012-01-17 21:41] joshk commented on #67
-1 maybe change the 'show' text to 'how do i sponsor?'

[2012-01-17 21:43] joshk commented on #66
hmmm, valid point, i like Konstantins suggestion, but maybe we should change what the heads say to something nice about Travis?

[2012-01-17 21:44] joshk commented on #65
-1 the new text you added is great, and the use of bold is perfect

[2012-01-17 21:45] joshk commented on #63
-1 on showing subscriptions by default

[2012-01-17 21:46] joshk commented on #62
:/ i am kinda -1 on this, its a nice to have, but not super important

[2012-01-17 21:47] joshk commented on #61
making the site too generic would mean some people would not feel the attachment to the cause

I think leave it how it is

[2012-01-17 21:51] joshk commented on #59
i don't think this is an issue either, we just need to DM some friends and let them know we are launching this, or email the guys and girls who have given testimonials and we will be fine

[2012-01-17 21:54] joshk commented on #56
can't reproduce, sometimes the sound is choppy and doesn't come out right, but it always kinda comes out

[2012-01-17 21:57] joshk commented on #55
-1 for flattr, i really don't know anyone using it

[2012-01-17 21:58] joshk commented on #54
-1 i think what we have in the way of quotes and testimonials is fine

[2012-01-17 21:59] joshk commented on #53
not sure, -1

[2012-01-17 21:59] joshk commented on #49
what we have with the testimonials and wording in the titles seems good to me

[2012-01-17 22:09] joshk commented on #51
+1 on your change, I think this is enough, if we get more feedback on twitter when we launch then maybe we can rethink

[2012-01-17 22:18] svenfuchs opened #76 "Weird shaking behaviour on 11" screens"
Paul says:

"I'm getting a weird shaking behaviour when I move my mouse over to the
left of the screen. Is that intentional? "

"I'm in Safari 5.2.1 on a Macbook Air 11" … it happens when I scroll
off the main column into the sidebar. It doesn't happen if the browser
window takes up the whole screen."

[2012-01-17 22:21] svenfuchs opened #77 "Make more clear that there's a company behind it"
Reopened.

"people will ask themselves the question "who are you actually?" at the
moment they press/think about pressing the pay/donate button so I'd
try to have handy at that moment."

Is what we have enough? How can we improve it without overloading the packages section (which is already pretty packed)?

[2012-01-17 22:21] joshk commented on #76
I think this was the same issue I was getting with the speech bubbles when you first added them.

(I have an 13" screen)

On 17/01/2012, at 11:18 PM, Sven Fuchs wrote:

[2012-01-17 22:27] rkh commented on #46
Some soundcloud devs are looking into the issue. Apparently they don't have a certificate for some asset host they are using.

[2012-01-18 06:34] pat opened #78 "Comment/Message fields are ambiguous"
Josh clarified them for me, but you really should make that clear on the payment page.

[2012-01-18 06:36] pat opened #79 "Why is a password needed?"
I've been told it's so I can view my receipt - is it not possible to just have a link with a hash in the email to get to that? At the very least, I don't think it should be required, and it should be clear why it's being asked for.

[2012-01-18 13:41] #37 closed, assigned to nobody

[2012-01-18 13:42] svenfuchs commented on #37
We were thinking "purchase" doesn't sound too much like commercial, shopping, products

We now use "Single Payment"

[2012-01-18 13:43] svenfuchs commented on #38
Ok, let's just keep what we have now and see what feedback we get. If LOTS of people want to donate smaller amounts we could also just add Flattr, Pledgie or similar

[2012-01-18 13:43] #38 closed, assigned to nobody

[2012-01-18 13:44] svenfuchs commented on #40
I think this is still a nice-to-have things, but it's not totally required. We have to push a bit, so I'll tag it that way and move on for now

[2012-01-18 13:45] svenfuchs commented on #42
I agree. Closing this

[2012-01-18 13:45] #42 closed, assigned to nobody

[2012-01-18 13:48] svenfuchs commented on #43
In that case we can't use html5 browser form features and that means we'd need to either reimplement them or just skip them entirely

i am -1 on this tbh

[2012-01-18 13:49] svenfuchs commented on #78
@freelancing-god We are going to rename them to "private" and "public" comment. Do you think that will clarify it?

[2012-01-18 13:53] svenfuchs commented on #79
Well, there are a bunch of reasons why it's just easier to have a login and profile page.

I agree we might make it optional (that's some work though) AND we should explain it better.

[2012-01-18 13:53] svenfuchs commented on #79
ALSO, thank you for your feedback @freelancing-god :D <3 <3 <3 <3

[2012-01-18 14:00] svenfuchs commented on #46
Ok, so this is done. Do we need to buy an SSL certificate for love.travis-ci.org? @joshk?

[2012-01-18 14:02] svenfuchs commented on #48
Ok, closing this

[2012-01-18 14:02] #48 closed, assigned to nobody

[2012-01-18 14:03] svenfuchs commented on #49
This is still work in progress. I think we're on a good way though and we can close this as a ticket.

[2012-01-18 14:03] #49 closed, assigned to nobody

[2012-01-18 14:03] svenfuchs commented on #51
Alright, closing this :)

[2012-01-18 14:03] #51 closed, assigned to nobody

[2012-01-18 14:03] svenfuchs commented on #53
Ok, cool :)

[2012-01-18 14:03] #53 closed, assigned to nobody

[2012-01-18 14:04] svenfuchs commented on #54
Alright, closing this :)

[2012-01-18 14:04] #54 closed, assigned to nobody

[2012-01-18 14:05] svenfuchs commented on #55
It seems quite popular over here (two people already approached me in person about it)

There's also Pledgie.

It would just be a fallback that we could _link_ to (no crazy widgets) for people who say they don't like the "big" amount in the tiny package (i.e who want to donate less than 10 bucks)

Anyway. We can close this for now.

[2012-01-18 14:05] #55 closed, assigned to nobody

[2012-01-18 14:06] svenfuchs commented on #56
Hrmmm, ok, so i'm gonna close this for now. Let's reopen it once we get more information about reproducing it

[2012-01-18 14:06] #56 closed, assigned to nobody

[2012-01-18 14:06] svenfuchs commented on #59
Alright, closing this :)

[2012-01-18 14:06] #59 closed, assigned to nobody

[2012-01-18 14:06] svenfuchs commented on #61
Alright, closing this :)

[2012-01-18 14:06] #61 closed, assigned to nobody

[2012-01-18 14:06] svenfuchs commented on #62
tagging this as nice-to-have

[2012-01-18 14:07] svenfuchs commented on #63
Alright, closing this :)

[2012-01-18 14:07] #63 closed, assigned to nobody

[2012-01-18 14:08] svenfuchs commented on #65
Alright, closing this :)

[2012-01-18 14:08] #65 closed, assigned to nobody

[2012-01-18 14:10] svenfuchs commented on #66
This would also help a tiny little bit with the gender issue.

@joshk so, Jon, José and Aaron all offered to record something new if needed. Could you please ask them to record a single, short sentence and recommend/ask/explain why to donate/that they're supporting this campaign?

[2012-01-18 14:21] svenfuchs commented on #67
Ok, changed it that way

Closing this

[2012-01-18 14:21] #67 closed, assigned to nobody

[2012-01-18 14:21] svenfuchs commented on #70
Ok, closing this.

[2012-01-18 14:21] #70 closed, assigned to nobody

[2012-01-18 14:25] rkh commented on #35
Just added a link to the profile page. @svenfuchs could you improve the looks of the download page a bit?

[2012-01-18 14:26] svenfuchs commented on #72
Arrrrgh. The CSS value for the attribute "cursor" that represents a hand is not "hand" but "pointer". The value that represents a pointer (i.e. an arrow) is "default"

I guess that's another CSS property where Microsoft got it right and the W3C got it wrong. I can _never_ remember that.

Fixed and closing this

[2012-01-18 14:26] #72 closed, assigned to nobody

[2012-01-18 14:28] svenfuchs commented on #74
This is fixed. Closing this.

[2012-01-18 14:28] #74 closed, assigned to nobody

[2012-01-18 14:29] svenfuchs commented on #39
ok, I'll try this out

[2012-01-18 15:04] #35 closed, assigned to svenfuchs

[2012-01-18 15:04] rkh opened #80 "make ringtone downloads look nicer"

[2012-01-18 15:05] svenfuchs commented on #25
we now have a pagination. closing this

[2012-01-18 15:05] #25 closed, assigned to nobody

[2012-01-18 15:06] svenfuchs commented on #22
Paul has looked into this and provided this pull request: https://github.com/travis-ci/travis-crowd/pull/36

So I think we can close this

[2012-01-18 15:06] #22 closed, assigned to nobody

[2012-01-18 15:12] svenfuchs opened #81 "Add initial company sponsor to crowds page"
On the Travis CI crowd funding site there is a "Thank you, sponsors" section.
Similar to what is layed out on the current staging app we display 1 platinum, 2 gold and 4 silver sponsors at once, giving each package a different amount of space (although we might want to opt for an even smaller amount of space for silver sponsors and instead display more of them here).
The order of sponsors displaye

[2012-01-18 15:12] svenfuchs opened #82 "Banner rotation for various pages"

[2012-01-18 15:55] #75 closed, assigned to rkh

[2012-01-18 15:55] rkh commented on #44
values are now prefixed by the model, which makes more sense imo.

[2012-01-18 15:55] #44 closed, assigned to rkh

[2012-01-18 15:57] rkh commented on #43
:-1:

[2012-01-18 16:20] rkh commented on #43
closing for now

[2012-01-18 16:20] #43 closed, assigned to rkh

[2012-01-18 16:51] rkh commented on #77
I think the main audience is people already knowing Travis...

[2012-01-18 17:17] #79 closed, assigned to rkh

[2012-01-18 17:24] #40 closed, assigned to rkh

[2012-01-18 17:28] svenfuchs commented on #27
First draft added to the page. Will review and improve it tomorrow and then finally send it off to Florian and Jesper (who else?) for feedback

[2012-01-18 17:32] svenfuchs commented on #39
done. @joshk wdyt? we're in favor of keeping it

[2012-01-18 17:53] svenfuchs commented on #77
They might not know we're a company though ...

[2012-01-19 08:30] fritzek commented on #39
+1 for desc order

[2012-01-19 08:39] fritzek commented on #77
we have mentioned twice that a company is behind this campaign (as footnote in reference to Travis Pro and in the FAQ).
the only really missing thing is an imprint (which is mandatory as of TMG §6) at the bottom

[2012-01-19 11:33] svenfuchs opened #83 "Explain the ringtones story"
Either in the FAQ or on a smal static page ...

[2012-01-19 11:38] svenfuchs commented on #39
bingo, we're all happy over here, too. closing this.

[2012-01-19 11:38] #39 closed, assigned to svenfuchs

[2012-01-19 11:48] svenfuchs commented on #77
@fritzek can you specify what needs to be there? (or link to an example imprint that we can copy from)

[2012-01-19 11:49] svenfuchs opened #84 "Add an imprint"
as mentioned in #77

[2012-01-19 11:50] svenfuchs commented on #77
@fritzek added a new ticket for this: #84

[2012-01-19 11:51] svenfuchs commented on #77
Ok, closing this. Doesn't seem to be the most important thing.

[2012-01-19 11:51] #77 closed, assigned to svenfuchs

[2012-01-19 13:22] svenfuchs opened #85 "Fix social links"
The "Please spread the word" widgets screw the design on the ipad, do not look perfect anyway and google+

Need to find someone who can help out with this

[2012-01-19 13:54] svenfuchs commented on #85
Does this help? http://www.phpied.com/social-button-bffs/

[2012-01-19 13:57] svenfuchs commented on #85
@bumi @skddc @rmehner would any of you guys be able to look into this?

:)

[2012-01-19 14:12] svenfuchs commented on #84
see http://www.cileos.com/imprint.html

[2012-01-19 17:03] svenfuchs commented on #84
@fritzek see the imprint (link in the footer, content on https://travis-crowd-staging.herokuapp.com/imprint)

Will that work?

Closing this for now

[2012-01-19 17:03] #84 closed, assigned to nobody

[2012-01-19 17:16] fritzek commented on #84
@svenfuchs looks good - will provide the missing data as soon I have them

[2012-01-19 17:20] svenfuchs commented on #84
so, do we already have a tax number? maybe i should add some text there instead of the dots otherwise?

[2012-01-19 17:24] fritzek commented on #84
no, we don't. we just have submitted at tax authority to get one. Not sure what you should leave instead. Maybe "In Gründung" too. Everyone in Germany knows it will take a while to get the stuff together.

[2012-01-19 17:38] svenfuchs commented on #84
alright, perfect

[2012-01-19 17:52] svenfuchs commented on #85
re-added these links for now

[2012-01-19 18:29] bumi commented on #85
@svenfuchs we've had a look at it in the emulator but we need a real ipad.
will check it tomorrow with a real ipad same for the other issue @joshk  was referring to.

[2012-01-19 21:35] svenfuchs commented on #85
w000t! thanks a ton, @bumi!!!

On Jan 19, 2012, at 7:30 PM, Michael Bumann wrote:

[2012-01-20 12:50] svenfuchs commented on #83
Done. See https://travis-crowd-staging.herokuapp.com/ringtones

[2012-01-20 12:50] #83 closed, assigned to svenfuchs

[2012-01-20 12:52] svenfuchs opened #87 "Upload snippets to soundcloud"

[2012-01-20 13:10] pat commented on #78
It certainly helps, but there's still the issue (currently) that you've got to mouse over the fields to see the hints. I'd personally have them constantly visible as paragraphs above each text box, and maybe make the labels less ambiguous (Public Comment, Message to the Travis Team, perhaps?)

[2012-01-20 13:55] svenfuchs commented on #78
I've made the paragraph above both fields more descriptive. I've also tried to split the paragraph into 2 and have them above each field, but couldn't get it work visually (the form has the problem that the labels are aligned on the right side).

I think as we now have the information 3x there, that should work, even if still not perfect.

wdyt?

[2012-01-20 14:03] pat commented on #78
If it was me, I'd put a paragraph above each field (para, field, para, field) - but could be I'm being too pedantic - probably not worth stressing about this too much :)

[2012-01-20 14:10] svenfuchs commented on #78
i know what you mean :) and i'd prefer that, too. but it would need to work visually well, too (which is what i am too pedantic about ;) ... and that would require quite some work on the css

thanks for all your feedback, pat!

[2012-01-20 14:10] #78 closed, assigned to svenfuchs

[2012-01-21 14:55] svenfuchs commented on #87
Hrm, in order to create a 4th set we'd need to upgrade the account (29/year) or get a sponsored account or delete the "experiments" set

[2012-01-21 16:07] svenfuchs commented on #87
Done. I've killed the experiments set and created a new set with 91 snippets

[2012-01-21 16:07] #87 closed, assigned to svenfuchs

[2012-01-21 17:08] svenfuchs commented on #46
hmmm, getting an annoying ssl warning there

is it possible to add a certificate to love.staging.travis-ci.org, too? or should we just continue to use travis-crowd-staging.herokuapp.com for staging?

[2012-01-21 18:30] joshk commented on #46
Ssl certs cost $, so it's your pick on what URL for staging.

I hope to have prod done tonight.

J

---

Sent from my Sega Master System

On 21/01/2012, at 6:08 PM, Sven Fuchsreply@reply.github.com wrote:

[2012-01-21 20:58] svenfuchs commented on #46
Ah, ok. Well, let's just use travis-crowd-staging.herokuapp.com then

[2012-01-22 01:14] svenfuchs opened #88 "Add a sponsors page"
There is a static page that displays all of our sponsors at once so that curious users can review and link to them.
This page is published on http://love.travis-ci.org/sponsors and simply lists sponsors in the order of their package size (Platinum, Gold, Silver) and in the order of their package booking dates.
Each listing also links to the respective blog post on the Travis CI blog as well as oth

[2012-01-22 01:15] svenfuchs opened #89 "Add worker sponsors to logs"

[2012-01-22 01:15] svenfuchs opened #90 "Add sponsors to notification emails"
We display 1 Platinum sponsor or 2 Gold sponsors below every build notification email. These are randomized and Platinum sponsors have a 2:1 chance to appear over Gold sponsors.
There is a link to the main Travis CI sponsors page 3

[2012-01-22 01:16] svenfuchs opened #91 "Add sponsors to the app sidebar"
The sidebar will be re-designed so that we have two spots where sponsors appear but use less space in total.
There is a slot at the top of the sidebar (above the workers list) that displays either 1 Platinum or 2 Gold sponsors at a time.
There is another list of sponsors (below the queues lists) that displays 8 Silver sponsors at a time as text links.
There is a link to the main Travis CI sponsors

[2012-01-22 17:28] joshk opened #92 "Add a link to the crowd funding page to the build emails"
Only when we go live :)

[2012-01-22 17:58] svenfuchs commented on #89
Done.

This is on staging and needs to be deployed (ideally all of workers, hub, web)

[2012-01-22 17:59] svenfuchs commented on #92
+1 ... even though i guess we'll generate enough buzz otherwise, too

[2012-01-22 18:00] svenfuchs commented on #88
initial version deployed containing our worker and services sponsors

[2012-01-22 22:19] svenfuchs commented on #88
next generation done. contains all of our workers and services sponsors as well as special thanks. all logos re-done for this purpose.

[2012-01-24 10:11] paulkoegel commented on #73
hey, here's some quick results of what I found out:

# Safari on iPad:
- page is white up to the heads.
- layout doesn't break with deactivated javascript.
- debug console:
  - JS error in line 1 - "Unsafe JavaScript attempt to access frame with URL http://travis-crowd-staging.herokuapp.com/# from frame with URL https://m.google.com/app/plus/poswidget/?hl=en[...]
  - HTML error in line 3 - "https:

[2012-01-24 10:15] paulkoegel commented on #73
screenshot: http://imgur.com/okCSV

[2012-01-27 01:13] joshk commented on #46
done and done

[2012-01-27 01:13] #46 closed, assigned to joshk

[2012-01-27 01:13] joshk commented on #28
i believed this is activated?

[2012-01-27 09:38] fritzek opened #93 "Add VAT to comp packs if comp comes from Germany"
For German companies we should add the VAT on top of pack value and give a clear verbal hint. It's not necessary to ask for the VAT ID for German comps, but is no error if they do

[2012-01-27 09:40] fritzek opened #94 "Ask donor is a company for Big and Huge packs"
We should ask the donor if he is a company. If so and he comes from Germany we can add VAT on top of pack value.
For privates it would be unfair.

[2012-01-27 10:14] fritzek commented on #94
Suggestion: add a note "You're able to deduct VAT?" if country=Germany and add a Yes/No-Switch (default= Yes - as we expect mostly companies to choose Big or Huge) and calc VAT on top of pack value.

[2012-01-27 10:30] svenfuchs commented on #28
yep :)

[2012-01-27 10:30] #28 closed, assigned to svenfuchs

[2012-01-28 13:58] svenfuchs commented on #88
done.

[2012-01-28 13:58] #88 closed, assigned to nobody

[2012-01-28 13:59] svenfuchs commented on #82
done for the crowds app. app sidebar still tbd

[2012-01-28 13:59] #82 closed, assigned to nobody

[2012-01-28 13:59] svenfuchs commented on #81
done

[2012-01-28 13:59] #81 closed, assigned to svenfuchs

[2012-01-28 16:32] svenfuchs commented on #89
@rkh can you take care of deploying this? can't assign you to this ticket right now (GH issue?)

[2012-01-28 16:32] svenfuchs commented on #90
@rkh can you take care of this? can't assign you to this ticket right now (GH issue?)

[2012-01-28 16:32] svenfuchs commented on #91
@rkh can you take care of this? can't assign you to this ticket right now (GH issue?)

[2012-01-28 16:33] svenfuchs commented on #92
@rkh can you take care of this? can't assign you to this ticket right now (GH issue?)

[2012-01-28 16:35] svenfuchs commented on #90
btw we still have the option to only add text links and a short copy to these emails in order to not make them too spammy

afaik mathias favors this, i'd probably opt for it, too

i'll update the sponsor plans page right away, just to be on the safe side

[2012-01-28 19:07] svenfuchs commented on #80
done :)

[2012-01-28 19:07] #80 closed, assigned to svenfuchs

[2012-01-28 19:08] svenfuchs commented on #27
I think this is done, isn't it?

[2012-01-28 19:08] #27 closed, assigned to svenfuchs

[2012-01-28 19:15] svenfuchs commented on #66
Not sure, is there anything going to happen with this?

[2012-01-29 09:36] rkh commented on #89
Sure. I'll just have to figure out how to deploy on workers.

[2012-01-29 09:38] svenfuchs commented on #89
we still do; `ssh ...; cd travis-worker; git pull;` and restart the worker :)

[2012-01-29 10:14] rkh commented on #89
OK, seems fine to me. Thanks for the pointer.

[2012-01-29 13:54] svenfuchs commented on #73
Hmm, I simplified the layout a bit recently (now doing the margin: 0 auto center thing once, not N times) but that didn't seem to fix anything.

Somehow I feel it's about the iframe that the Twitter script injects at the top of the page.

On Jan 24, 2012, at 11:15 AM, Paul Wittmann wrote:

[2012-01-30 10:28] rkh commented on #94
Note: If answer is yes, we'll need the address.

[2012-02-01 12:02] rkh commented on #94
done and on staging

[2012-02-01 12:02] #94 closed, assigned to nobody

[2012-02-01 12:03] rkh commented on #93
done and on staging

[2012-02-01 12:03] #93 closed, assigned to nobody

[2012-02-01 12:03] rkh opened #95 "List VAT in Invoices"
Probably our VAT ID, too.

[2012-02-01 14:40] fritzek commented on #95
Note to myself: location for VAT handling is regulated by UStG § 3g (Ort der Lieferung von Gas, Elektrizität, Wärme oder Kälte)

[2012-02-01 14:43] fritzek commented on #95
VAT law §14 (http://www.gesetze-im-internet.de/ustg_1980/__14.html)

(4) Eine Rechnung muss folgende Angaben enthalten:
1. den vollständigen Namen und die vollständige Anschrift des leistenden Unternehmers und des Leistungsempfängers,
2. die dem leistenden Unternehmer vom Finanzamt erteilte Steuernummer oder die ihm vom Bundeszentralamt für Steuern erteilte Umsatzsteuer-Identifikationsnummer,
3. d

[2012-02-01 14:49] fritzek commented on #95
english translation of above law text:
we have to put on a regular VAT invoice the following:
1. Name and complete address from Travis and the receiver
2. Travis tax number or VAT ID
3. date of invoice
4. sequential unique number (can include characters)
5. amount and type of delivery or service
6. date of delivery or service
7. - not relevant as we just have one tax rate - we only have to display

[2012-02-02 09:03] rkh commented on #89
All but the erlang worker + hub is deployed.

[2012-02-02 09:41] svenfuchs commented on #89
awesome! anything holding the hub deployment back?

[2012-02-02 12:30] rkh commented on #89
does hub depend on the worker changes?

[2012-02-06 14:16] dhiemstra opened #97 "When entering incorrect creditcard info it does not show me any errors"
I filled in a wrong expiration date for my CC. After pressing submit it spinned for a second and then stopped.
It didn't show me any errors but gladly i figured out myself something was wrong with my CC info,

[2012-02-06 14:19] dhiemstra opened #98 "No option to fill in a custom amount for donating"
This might be important. Me for example wanted to donate a couple of dolars to travis.
I pressed the $1 link and went to the form, filled this in and after submit it told me i donated $1.

I wanted to donate more than $1 but i just left after this because i couldn't be bothered to go back again.

[2012-02-06 14:20] rkh commented on #97
It says so right below the CC# field (at least it did for me), but without any special CSS applied. I'll look into it.

[2012-02-06 14:23] rkh commented on #98
We have thought about this and might add it (esp if there is more demand for it), but we didn't want it blocking our launch. Donating again is way easier than just donating once, though that is not obvious unless you try. If you have the time, we'd be happy about patches.

[2012-02-06 14:24] dhiemstra commented on #98
Discussed this with Josh as well, he suggested me to use a plan but for me $10 is to much (yes call me greedy) for something that i see as a super cool project but don't use myself. I think a support option between $1-5 would be nice.

When i have some spare time i might take a look soon but no promisses :)

[2012-02-06 14:27] #95 closed, assigned to fritzek

[2012-02-06 14:29] rkh commented on #98
Too many options might be overwhelming, too. We could add it as text link, like the $1 option.

On Feb 6, 2012, at 15:24 , Danny Hiemstra wrote:

[2012-02-06 14:48] #97 closed, assigned to rkh

[2012-02-06 17:26] #89 closed, assigned to rkh

[2012-02-07 15:41] lest opened #100 "Password recovery throws 500 error"
I've made a donation http://ubuntuone.com/5esqiyD10ScFDVf9UmVNSS but got 500 error during it and now I can't login.

When I enter my email in password recovery form I get 500 error page.

[2012-02-07 20:06] mtmcfarl opened #102 "Safari Layout Bug"
There is quite a large blank white space in Safari with the fork banner in the upper right.  I see a quick flash of styled text then it disappears.

[2012-02-07 20:08] rkh commented on #102
Are you on Lion? What version of Safari? We can reproduce this in old versions on Snow Leopard but have no idea how to fix it.

[2012-02-07 20:09] mtmcfarl commented on #102
Sorry about that.  I'm on Snow Leopard 10.6.8, running Safari Version 5.1.1 (6534.51.22).

[2012-02-07 20:14] mtmcfarl commented on #102
Seems like its the twitter widget iframe thats blowing it up.  If I set display:none to the twttrHubFrame id then the site looks fine.  Not sure why the iframe is being a pain.

[2012-02-07 20:23] rkh commented on #102
Right. That's pretty hard to solve. We would have to create our own widget. Nothing is driving people to the page like twitter at the moment.

[2012-02-07 20:33] mtmcfarl commented on #102
So it seems to me that if you set the height to 0px and leave the rest that it seems to fix the issue.  Do you see the same?

[2012-02-18 15:28] svenfuchs commented on #92
Done

[2012-02-18 15:28] #92 closed, assigned to nobody

[2012-02-18 15:28] svenfuchs commented on #91
Done.

[2012-02-18 15:28] #91 closed, assigned to nobody

[2012-02-18 15:28] svenfuchs commented on #90
Done.

[2012-02-18 15:28] #90 closed, assigned to nobody

[2012-02-18 15:31] svenfuchs opened #104 "Personal thank you messages"
All donors (users) except tiny.

[2012-02-18 15:32] svenfuchs opened #105 "Send out stickers and swag"
No swag received so far. Wooga and Bendyworks said they wanted to send some.

[2012-02-18 15:33] svenfuchs opened #106 "Skype cups of tea"
All "big" donors

[2012-02-18 15:34] svenfuchs opened #107 "Organize remote pairing hours and office visits"
All "Huge" donors and company sponsors are entitled for remote pairing hours or office visits (or alternative things)

[2012-02-19 01:53] dmathieu commented on #107
What office ? (sorry for the dumb question. Can be replied by email).

[2012-02-19 12:39] svenfuchs commented on #107
On https://love.travis-ci.org/company_packages you can see that platinum and gold packages are eligible for having us visit their offices :)

It's not clear yet, who wants to opt in there.

[2012-02-19 13:18] svenfuchs opened #108 "Organize blog posts"
All sponsors

[2012-02-19 13:18] svenfuchs opened #109 "Tweet love"
All sponsors

[2012-11-16 15:31] sarahhodne commented on #104
Has this been done yet? Can we close this?

[2012-11-16 15:32] sarahhodne commented on #105
Has this been done yet? Can we close this?

[2012-11-16 15:32] sarahhodne commented on #106
Has this been done yet? Can we close this?

[2012-11-16 15:32] sarahhodne commented on #107
Has this been done yet? Can we close this?

[2012-11-16 15:32] sarahhodne commented on #108
Has this been done yet? Can we close this?

[2012-11-16 15:32] sarahhodne commented on #109
Has this been done yet? Can we close this?

[2012-11-16 16:39] rkh commented on #106
This has not happened yet. Though on the other hand, no one asked for this so far.

[2012-11-16 16:39] rkh commented on #107
This has not happened yet. Though on the other hand, no one asked for this so far.

[2013-01-15 12:05] rkh opened #111 "Country list empty"

[2013-05-06 02:55] tay opened #113 "User should see a CTA button in main callout"
Current:
Right now, the main callout's Call-To-Action is a sentence of text with no hyperlink:
"Please donate so we can make Travis CI even better!"
![screen shot 2013-05-05 at 5 30 37 pm](https://f.cloud.github.com/assets/1108361/464443/3231f938-b5e4-11e2-9334-997340e55ad5.png)

Suggestion:
We should add a large button that says "Contribute" or "Donate", that links to a page that shows all the do

[2013-09-22 13:29] #85 closed, assigned to nobody

[2013-09-22 13:29] #76 closed, assigned to nobody

[2013-09-22 13:29] #73 closed, assigned to nobody

[2013-09-22 13:30] #66 closed, assigned to svenfuchs

[2013-09-22 13:30] #62 closed, assigned to nobody

[2013-09-22 13:30] #33 closed, assigned to rkh

[2013-09-22 13:30] #24 closed, assigned to nobody

[2013-09-22 13:30] #18 closed, assigned to nobody

[2013-09-22 13:31] #113 closed, assigned to nobody

[2013-09-22 13:31] #111 closed, assigned to nobody

[2013-09-22 13:31] #109 closed, assigned to nobody

[2013-09-22 13:31] #108 closed, assigned to nobody

[2013-09-22 13:31] #107 closed, assigned to nobody

[2013-09-22 13:32] #106 closed, assigned to nobody

[2013-09-22 13:32] #105 closed, assigned to nobody

[2013-09-22 13:32] #104 closed, assigned to joshk

[2013-09-22 13:32] #102 closed, assigned to nobody

[2013-09-22 13:32] #100 closed, assigned to nobody

[2013-09-22 13:32] #98 closed, assigned to nobody

[2020-09-09 01:18] BROGVOIDOVO opened #131 ".gitignore"
8D

[2020-09-09 01:18] BROGVOIDOVO commented on #131
8P

[2020-09-09 01:18] #131 closed

[2020-09-09 01:19] BROGVOIDOVO commented on #131
8D

[2020-09-09 02:02] BROGVOIDOVO opened #132 "I0M0l"
8D

[2020-09-09 03:39] #132 closed

[2020-09-11 20:32] BROGVOIDOVO opened #133 "tronlink"
[]()

[2020-09-11 20:33] BROGVOIDOVO commented on #133
@BROGVOIDOVO

[2020-09-11 20:33] #133 closed

[2020-09-14 04:19] BROGVOIDOVO opened #134 "Can I have"